* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    scroll-behavior: smooth;
}

body {
    width: 100%;
}

header {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    color: white;
}

header video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -2;
    filter: grayscale(100%)
}

#video-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: black;
    opacity: .6;
}

#media-links {
    align-self: center;
    margin-right: 5rem;
    position: fixed;
    right: 0;
}

#media-links {
    padding: 0 1rem;
    background-color: #FFF1;
    border-radius: 5%;
}

#media-links img {
    object-fit: contain;
    display: block;
    height: 50px;
    width: 50px;
    margin: 1rem 0;
}
#home h1 {
   position: absolute;
   padding: 1rem 0 0 3rem
   
}

#home nav {
    width: 50%; 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#home ul {
    max-width: fit-content;
    height: auto;
    list-style: none;
}

#home li {
    padding: 1rem;
    width: 8rem;
    text-align: center;
}
#home a {
    font-size: 1.7rem;
    text-decoration: none;
    color: white;
}

#home li:hover {
    background-color: rgba(71, 71, 71, 0.448)
}

#projects {
   height: 100vh;
   background-color: #E9F1F5;
   /* padding-bottom: 5rem */
}

#projects h1 {
    padding: 1rem 0 0 3rem;
    font-size: 2rem;
    position: absolute;
}

#project-showcase {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 4rem;
}

.project-title {
    padding: 0;
    margin: 0 0 .75rem;
}
.project-info-container {
    width: 70%;
    padding: 0 2rem;
    margin-left: 2rem;
    position: relative;
}

.project-info-container .description {
    margin-bottom: 2.2rem;
}


.project .project-img-container {
    align-self: center;
    height: 100%;
    width: 30%
}

.project-img-container img {
    border-radius: 3%;
    height: 100%;
}

.description p:nth-child(1) {
    font-style: italic;
    margin-bottom: .75rem;
}

#projects img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.view-links {
    position: absolute;
    bottom: 0px
}

#projects .view-links img {
    width: 3rem;
}

@media (max-width: 800px) {
    #home h1 {
        left: 0;
        width: 100%;
        text-align: center;
        padding: 1.5rem 0 0 0;
    }

    header {
        flex-direction: column;
        padding-bottom: 5rem;
    }

    #media-links {
        position: static;
        margin: 0;
        background-color: none;
        padding: .5rem .5rem .25rem .5rem
    }

    #media-links a {
        display: inline-block
    }

    #media-links img {
        margin: 0;
    }

    #home nav {
        width: 100%;
    }

    #projects {
        height: auto;
        padding-bottom: 2rem;
    }
    #projects h1 {
        position: static;
        text-align: center;
        padding: .5rem 0 0 0;
        margin-bottom: 3.5rem;
        padding-bottom: .5rem;
        border-bottom: 0.5px solid black
    }

    #project-showcase {
        display: block;
    }
    .project {
        flex-direction: column;
        margin-bottom: 4rem
    }

    .project-info-container {
        padding: 0;
        margin: 0;
    }

    .project-title {
        margin: 1rem 0 1rem;
    }

    .project .project-img-container {
        width: 100%;
        height: 100%;
        
    }

    .project-img-container img {
        border-radius: 0%
    }

    .project-title {
        text-align: center
    }

    .project-info-container {
        width: 100%;
    }
    .project-info-container .description {
        margin-bottom: 3.5rem
    }

}


