* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        font-variation-settings:
          "wdth" 100;
}

main {
    height: 100vh;
    width: 100vw
}

h1 {
    font-size: 2vw;
    /* position: absolute; */
}

nav {
    width: 100%;
    padding: 1rem;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
    /* align-self: center; */
    list-style: none;
    /* padding-top: 1rem; */
    margin-bottom: 1rem;
}
ul li {
    margin-right: 1rem;
}
ul a {
    text-decoration: none;
    color: black
}
#projects {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#projects .project {
    height: 18rem;
    width: 12rem;
    margin: 0 2rem;
    border: 1px solid black;
    border-radius: 6px;
    position: relative;
}

#projects .project:hover {
    scale: 1.025;
}

#projects .project-title {
    width: 100;
    text-align: center;
    padding: .5rem 1rem .5rem
}

#projects img {
    width: 100%;
    border-radius: 5px 5px 0 0;
} 
#projects .description {
    font-size: .9rem;
    padding: 0 .5rem .5rem;
    text-align: center;
}

#projects .view-links {
    padding: 0 .25rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1rem;
}

#projects .view-links a {
    text-decoration: none;
    margin: 0 .5rem;
    color: black;
    font-size: 18px;
    font-weight: 350;
    padding: 0 0.5rem;

}
#projects .view-links a:nth-child(2):hover {
    /* font-size: 14px */
    background-color: grey;
    border-radius: 10%;
} 

#projects .view-links img {
    width: 3rem;
    height: 100%
}

@media (max-width: 512px) {
    #projects {
        flex-direction: column;
        justify-content: start;
        margin-top: 0;
        flex-wrap: nowrap;
    }

    #projects .project {
        margin: 0 1rem 1rem;
        height: auto;
    }

    h1 {
        display: none;
    }

    nav {
        position: static;
        margin-bottom: 1.5rem;
        justify-content: center;
        padding-top: 1.5rem
    }

    ul {
        width: auto;
        margin: 0 auto;
        text-align: center;
        margin: 0;
    }
    ul li {
        margin: 0;
        padding: 0 1rem;
    }

    #projects .description {
        margin-bottom: 3rem;
    }
}